:root {
  --primary-color: #047aed;}


body {
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.push-left {
  margin-left: auto;
}

.navbar-flex {
  display: flex;
  list-style: none;
  padding: 70px 13%;
  margin: 0;
}

/* MAIN */
#main {
  color: #fff;
  background: rgb(131, 185, 255);
  background: linear-gradient(180deg, rgba(131, 185, 255, 1) 34%, rgba(103, 170, 255, 1) 62%, rgba(0, 94, 203, 1) 91%);
}

.bttn-fill.bttn-lg {
  padding: 15px 50px;
  font-size: 1.5rem;
  width: 70%;
}

.bttn-fill.bttn-primary {
  background: #005ecb;
  border: 1px solid;
}

.main-grid {
  padding: 60px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.main-img {
  width: 90%;
}

.main-img-no {
  display: none;
}

li>a {
  color: #fff;
  text-decoration: none;
}

li>a:hover {
  text-decoration: underline;
}

.left-main {
  margin-right: 5%;
  padding-right: 5%;
}

.left-main h1 {
  margin: 0;
  padding-bottom: 20%;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: justify;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.right-main {
  margin-left: auto;
  padding-left: auto;
  text-align: right;
}



/* Feature section */
.main-feature-box {
  margin: 4.5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.workout-image {
  width: 90%;
}

.feature-box {
  padding: 1%;
}

.left-side {
  text-align: center;
  padding: 10px;
}

.right-side {
  justify-self: center;
  align-self: center;
  font-size: 140%;
  color: rgba(94, 80, 72, 1);
}

/* APP SC */
#app-sc {
  /* background: rgba(0, 94, 203, 1); */
  color: #fff;
  font-size: 130%;
}

.app-sc-grid img {
  width: 70%;
}
hr {
  width: 50%;
  margin-bottom: 8%;

}

.app-sc-grid {
  background: rgba(0, 94, 203, 1);
  padding: 13% 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
}

/* FORM */
#form {
  background: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
  margin-bottom: 30px;
  /* padding-bottom: 60px; */

}

.card {
  background-color: #fff;
  color: rgba(94, 80, 72, 1);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 50px;

  /* position: relative;
  z-index: 100;
  bottom: 45px; */
}

.showcase-form {
  text-align: center;

  /* position: relative;
  top: 60px; */
  height: 250px;
  width: 400px;
  padding: 40px;
  /* z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in; */
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 50px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:disabled {
  background: white;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}
/* FOOTER */

footer {
  /* background: rgba(0, 94, 203, 1); */
  text-align: center;
  padding: 4% 0;
  color: #fff;
  background: rgb(131, 185, 255);
}

@media (max-width:1400px) {
  .left-main h1 {
    font-size: 2.5rem;
  }

  .bttn-fill.bttn-lg {
    padding: 10px 50px;
    font-size: 1rem;
    width: 100%;
  }

  .right-side {
    font-size: 170%;
  }

  #app-sc {
    font-size: 110%;
  }
}

@media (max-width:1159px) {
  .left-main h1 {
    font-size: 2.2rem;
  }

  .bttn-fill.bttn-lg {
    padding: 9px 50px;
    font-size: 0.9rem;
    width: 100%;
  }
}

@media (max-width:1015px) {
  .left-main h1 {
    font-size: 1.8rem;
  }

  .bttn-fill.bttn-lg {
    padding: 9px 50px;
    font-size: 0.8rem;
    width: 100%;
  }

  .right-side {
    font-size: 120%;
  }

  #app-sc {
    font-size: 90%;
  }
}
}

@media (max-width:850px) {
  .left-main h1 {
    font-size: 1.5rem;
  }

  .bttn-fill.bttn-lg {
    padding: 8px 50px;
    font-size: 0.7rem;
    width: 100%;
  }

  .right-side {
    font-size: 90%;
  }
}

@media (max-width:700px) {
  .left-main h1 {
    font-size: 1.4rem;
  }

  .bttn-fill.bttn-lg {
    padding: 8px 50px;
    font-size: 0.6rem;
    width: 100%;
  }
}

@media (max-width:650px) {
  .left-main h1 {
    font-size: 1.2rem;
  }

  .bttn-fill.bttn-lg {
    padding: 8px 50px;
    font-size: 0.5rem;
    width: 100%;
  }

  .right-side {
    font-size: 120%;
  }
}

@media (max-width:600px) {
  .left-main h1 {
    font-size: 3rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-feature-box {
    grid-template-columns: 1fr;
  }

  .left-side {
    padding: 10px;
    text-align: center;
  }

  .right-side {
    padding: 15%;
    justify-items: center;
  }

  .right-side h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .right-side ul {
    padding-left: 50px;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 1rem;
    width: 60%;
  }

  .app-sc-grid {
    padding: 10% 5%;
    grid-template-columns: 1fr;
}

 #app-sc {
   font-size: 130%;
 }
}

@media (max-width:500px) {
  .left-main h1 {
    font-size: 3rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 1rem;
    width: 60%;
  }
}

@media (max-width:400px) {
  .left-main h1 {
    font-size: 2.7rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 0.7rem;
    width: 60%;
  }

  .right-side {
    font-size: 90%;
  }
}

@media (max-width:350px) {
  .left-main h1 {
    font-size: 2.5rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 0.7rem;
    width: 60%;
  }
}

@media (max-width:320px) {
  .left-main h1 {
    font-size: 2.3rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 0.7rem;
    width: 60%;
  }

  #app-sc {
    font-size: 100%;
  }
}

@media (max-width:300px) {
  .left-main h1 {
    font-size: 2rem;
    padding-bottom: 15%;
    text-align: center;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-main {
    padding-bottom: 35%;
    padding-right: 0;
    margin: 0;
    text-align: center;
  }

  .right-main {
    padding: 0;
    padding-bottom: 10%;
    margin: 0;
    text-align: center;
  }

  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 0.5rem;
    width: 60%;
  }

  .right-side h3 {
    font-size: 1rem;
  }
}

@media (min-width:2000px) {
  .left-main h1 {
    font-size: 7rem;
  }

  .bttn-fill.bttn-lg {
    padding: 10px;
    font-size: 4rem;
    width: 80%;
  }

  ul {
    font-size: 2rem;
  }

  .main-grid {
    padding: 5% 13%;
    padding-bottom: 10%
  }

  .right-side {
    font-size: 200%;
  }
}

/*
@media only screen and (max-width: 1100px) {
  .main-img {
    display: none;
  }

  .main-img-no {
    width: 70%;
    display: inline;
  }

  .right-main {
    text-align: right;
  }
} */
/* --------------------------------------- */
/* @media only screen and (min-width:600px) and (max-width: 1000px) {
  .left-main {
    text-align: center;
  }

  .left-main h1 {
    text-align: center;
  }
} */
/* ------------------------------------------------- */
/*
@media only screen and (max-width:600px) {
  .custom-class {
    width: 80%;
    display: block;
  }

  .main-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .right-main {
    text-align: center;
  }

  .left-main {
    margin-right: 0;
  }

  .left-main h1 {
    text-align: center;
    padding-right: 0;
  }
} */
